/frontend/node_modules/
/frontend/static/
/frontend/.next/
/backend/__pycache__/
/backend/graph/__pycache__/
/backend/Library/
/backend/knowledge/uploads/
/backend/outputs/
/backend/sessions/
/backend/api/__pycache__/
/backend/tools/__pycache__/
/backend/memory/__pycache__/
/backend/workspace/__pycache__/
.env
/backend/storage/
backend/.npm/_update-notifier-last-checked
backend/.npm/_logs/2026-03-17T04_35_25_815Z-debug-0.log
